<a href="https://colab.research.google.com/github/Rahulramj/pycham-code/blob/main/py1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [2]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])}
df = pd.DataFrame(d)
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [5]:
import pandas as pd
df2 = pd.DataFrame([[5,6], [7,8]], columns = ['a', 'b'])
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4],
index=['a', 'b', 'c','d'])}
df = pd.DataFrame(d)
df = df.append(df2)
print(df)

AttributeError: 'DataFrame' object has no attribute 'append'

In [6]:
import pandas as pd

df2 = pd.DataFrame([[5,6], [7,8]], columns = ['a', 'b'])
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])}
df = pd.DataFrame(d)
df = pd.concat([df, df2], ignore_index=True)
print(df)

   one  two    a    b
0  1.0  1.0  NaN  NaN
1  2.0  2.0  NaN  NaN
2  3.0  3.0  NaN  NaN
3  NaN  4.0  NaN  NaN
4  NaN  NaN  5.0  6.0
5  NaN  NaN  7.0  8.0